@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress {
    from { width: 0; }
    to { width: 100%; }
}

.animate-progress {
    animation: progress 3s linear forwards;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
